<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Slide range css -->
<link rel="stylesheet" href="range.css">
</head>
<body>
<center>
    <br>
<div id="loan" class="container w-100">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6">
    <div class="shadow p-3 mb-5 bg-white rounded">
        <h5>LOAN CALCULATOR </h5>
       
<!--Amount output-->
<br>
        <p class="amount">How Much Would you like to borrow?</p>
        <div class="btn btn-primary" >{{amountoutput}}</div>
        <!--Amount Input-->
<br>
        <div class="slidecontainer">
          <input v-model="amountoutput" type="range" min="100" max="5000" value="500" class="slider">
          </div>
          
        <!--Period Input-->
        <hr>
        <p class="period">For How Long?</p>
        <div class="btn btn-primary">{{periodoutput}} (weeks)</div>
        <!--Period Output-->
        <hr>
        <div class="slidecontainer">
          <input v-model="periodoutput" type="range" min="1" max="4" value="2" class="slider">
          </div>
        
      </div>
</div>



<div class="col-xs-12 col-md-6 col-lg-6"> 
   
<div class="shadow p-3 mb-5 bg-white rounded container w-100">
  <h5>RESULTS</h5>
  <br>
            <P>Interest Amount</P>
            <div>{{InterestAmount}}</div>
            <!--Amount to pay -->
           <hr>
            <P>Total Amount To Pay (ZMW): </P>
            <div>{{amountToPay}}</div> 
            
              <!--Interest rate-->
            <hr>
            <P>Interest rate: </P>
           
            <div id="interest"><span>15% one week,</span><span> 25% two weeks,</span>
              <span> 35% three weeks,</span> <span> & 45% four weeks</span>
            </div>
                   
    
    
<!--Holizontal Line-->
<div class="btn btn-success">Get Started</div>


</div>
</div>
</div>
</div>



  

  
    
  
</center>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="assets\js\cal.js"></script>
</body>


</script>
    

</html>
